<div id="modal-deposito" class="modal-fixo">
    <div class="fundo-escuro" onclick="document.getElementById('modal-deposito').remove()"></div>

    <div class="folha-menu">
        <div class="w-12 h-1 bg-gray-200 mx-auto rounded mb-8"></div>
        
        <h2 class="text-3xl font-bold text-gray-800 mb-6">Depósito</h2>
        
<form 
hx-post="/deposito"
hx-target="#saldo"
hx-swap="outerHTML"
class="flex flex-col">
<label class="text-gray-400 text-xs font-bold uppercase">Valor</label>
<input
type="number"
name="valor"
placeholder="R$ 0,00"
class="w-full border-b p-3 text-4xl py-2 font-bold text-gray-500 outline-none">

<button type="submit"class="bg-purple-600 text-white p-3 rounded-xl m-4">
Confirmar Depósito
</button>
</form>

        <button onclick="document.getElementById('modal-deposito').remove()" class="w-full text-gray-400 mt-6 font-bold uppercase text-xs tracking-widest">
            Voltar
        </button>
    </div>
</div>
