<div id="modal-saque-falha" class="modal-fixo flex flex-col items-center justify-center">
    <div class="fundo-escuro" onclick="document.getElementById('modal-saque-falha').remove()"></div>

    <div class="folha-menu max-w-md w-full flex flex-col justify-center items-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-8 justify-center text-center">Saque não realizado!<br>{{erro}}</h2>
        <div class="w-full text-8xl mb-8 grid row justify-center items-center transition-transform animate-bounce"><img class="size-24" src="/static/false-check.png" alt="Sucesso Depósito"></div>
<p class="text-2xl font-bold m-4">Saldo atual: R$ {{valor}}</p>
<div class="flex gap-8">
<button
onclick="document.querySelector('.modal-fixo').remove()"
class="bg-red-600 text-white text-2xl p-2 rounded-xl w-full active:scale-80 transition-transform hover:bg-red-800"
>Voltar
</button>
      
</div>