{% extends 'base.html' %}

{%block content%}

<div class="modal-fixo flex flex-col h-screen items-center justify-center">
    
    <div id="container" class="bg-white shadow-lg rounded-3xl p-4">
        <div class="folha-menu max-w-md w-full flex flex-col justify-center items-center">
          <h2 class="text-3xl font-bold text-gray-800 mb-8 justify-center text-center">Transferência não realizada!<br>{{erro}}
          </h2>
          <div class="w-full text-8xl mb-8 grid row justify-center items-center transition-transform animate-bounce"><img class="size-24 mt-2" src="/static/false-check.png" alt="Sucesso Depósito">
          </div>
          {% if erro == "Usuário inexistente"%}
            <div class="flex gap-8">
            <a
          href="/menu"
          class="bg-purple-600 text-white p-3 rounded-xl m-4 w-full active:scale-80 transition-transform hover:bg-purple-800 text-center text-2xl"
          >
          Voltar
          </a>
          {% else %}
            <p class="text-2xl text-center font-bold m-4">Saldo atual: R$ {{valor}}</p>
            <div class="flex gap-8">
            <a
          href="/menu"
          class="bg-purple-600 text-white p-3 rounded-xl m-4 w-full active:scale-80 transition-transform hover:bg-purple-800 text-center text-2xl"
          >
          Voltar
          </a>
          {%endif%}
          
        </div>
        </div>
        </div>
    </div>
</div>
{%endblock%}