<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Daniel's Bank</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-br from-purple-100 to-violet-100 p-10">
  <div class="w-full max-w-md rounded-2xl shadow-xl p-8 bg-white">
    <div class="flex">
      <h1 class="text-3xl font-bold mb-4 tracking-wide">Faça parte do LinsBank</h1>
      <img class="w-32 h-32 ml-2 mb-2"src="/static/Logobank.png">
      </div>
    <div class="text-base font-semibold flex-text-center pb-5"><h5>Entre com seus dados para se cadastar</h5></div>
    <div>
        <form class="flex flex-col" action="/cadastrar" method="POST">
        <label>Usuário:</label>
        <input class="border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-100" type="text" name="nome" placeholder="Digite: Seu Nome">
        <br>
        <label>Login:</label>
        <input class="border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-100"   type="text" name="login" placeholder="Digite seu login">
        <br>
        <label>Senha:</label>
        <input class="border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-100" type="password" name="senha" placeholder="Digite sua senha">
        <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-md mt-2" type="submit">Cadastrar</button>
      </form>
      <p class="py-3 mx-2">Já é cliente?</p>
      <a class="border border-gray-100 bg-violet rounded-lg shadow-lg p-2 hover:bg-gray-100 inline-block" href="/">Entre agora</a>
    </div>
  </div>
</body>
</html>