<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Daniel's Bank</title>
</head>
<body>
  <div><h1>Faça parte do LinsBank</h1></div>
    <div><h5>Entre com seus dados para se cadastar</h5></div>
    <div>
        <form action="/cadastrar" method="POST">
        <label>Usuário:</label>
        <input type="text" name="nome" placeholder="Digite: Seu Nome">
        <br>
        <label>Login:</label>
        <input type="text" name="login" placeholder="Digite seu login">
        <br>
        <label>Senha:</label>
        <input type="password" name="senha" placeholder="Digite sua senha">
        <button type="submit">Cadastrar</button>
      </form>
      <p>Já é cliente?</p>
      <a href="/">Entre agora</a>
    </div>
</body>
</html>