<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Daniel's Bank</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <header class="grid grid-cols-3 items-center m-1 ">
    <img  class="h-18 w-16" src="/static/Logobank.png" alt="Icone do usuário"> 
    <h2 class="flex justify-center text-3xl">LinsBank</h2>
  </header>
  <hr>
  <div class="flex-auto">
    <div class="flex-auto">
      <section class="m-2">
         <h3 class="text-4xl">Olá, {{session["nome"]}}</h3>
        <p class="text-1xl">Sua conta: {{session["conta"]}}</p>
        <p class="mt-4">O que gostaria de fazer hoje?</p>
      </section>
      <div class="flex justify-center">
        <div class="border-2 border-black rounded-2xl min-w-full p-4 text-left">
        <h3 class="font-medium">Saldo:</h3>
        <p class="font-bold text-4xl">R$ 1.500,00</p>
        </div>
      </div>
      <nav class="grid grid-cols-3 gap-4 mt-8 p-4">
        <div class=" flex flex-col items-center justify-center border-2 border-black rounded-2xl p-4 aspect-square">
          <img class="object-contain"src="/static/depositar.png">
          <a>Depositar</a>
        </div>
        <div class="flex flex-col items-center justify-center border-2 border-black rounded-2xl p-4 aspect-square">
          <img class="object-contain"src="/static/saque.png">
          <a>Sacar</a>
        </div>
        <div class="flex flex-col items-center justify-center border-2 border-black rounded-2xl p-4 aspect-square">
          <img class="object-contain"src="/static/transferir.png">
          <a>Transferir</a>
        </div>
        <div class="flex flex-col items-center justify-center border-2 border-black rounded-2xl p-5 aspect-square">
          <img class="object-contain"src="/static/extrato.png">
          <a>Extrato</a>
        </div>
        <div class="flex flex-col items-center justify-center border-2 border-black rounded-2xl p-4 aspect-square">
          <img class="object-contain"src="/static/pagamento.png">
          <a>Pagamentos</a>
        </div>
        <div class="flex flex-col items-center justify-center border-2 border-black rounded-2xl p-4 aspect-square">
          <img class="object-contain"src="/static/cartao.png">
          <a>Cartões</a>
        </div>
      </nav>
    </div>
  </div>
  <footer>
    <div class="border-2 border-red-500 rounded-3xl text-center text-red-500 mt-8 p-4">
    <a href="/logout">Sair</a>
    </div>
  </footer>
</body>
</html>