<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Daniel's Bank</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-br from-purple-100 to-violet-100;">
    <div class="border rounded shadow-lg bg-white p-4">
      <h1 class="font-semibold pb-2 ">Login efetuado com sucesso</h1>
      <h3>Seja bem vindo(a) {{session["nome"]}}</h3>
      <p>Sua conta: {{session["conta"]}}</p>
      <a href="/logout">Sair</a>
    </div>
  </div>
</body>
</html>